@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.container {
    border: 2px solid;
    padding: 1em;
    /* flex-basis: 510px; */
    width: 550px;
    height: 435px;
    /* font-size: 20px; */
    background-color: rgb(100, 107, 237);
}

.title {
    margin-bottom: 20px;
}

p {
    margin-top: .75em;
}

label,
input {
    box-sizing: border-box;
    font-size: 1.3em;
    padding: 12px;
    width: 100%;
}

/* .tituloIni {
    width: 100%;
} */

textarea {
    /* width: calc(100% - 1.25em); */
    /* width: min-content; */
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    height: 140px;
    font-size: 1.3em;
}

#output {
    margin: 0px;
    padding: 0px 12px;
}

#validar input {
    width: max-content;
    margin-bottom: .75em;
}

#validar input {
    padding: 10px;
}

#button button {
    padding: 10px 25px;
    font-weight: 800px;
    text-transform: uppercase;
    background-color: #ccc;
    border-radius: 5px;
}

#button {
    text-align: right;
}