@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 18em 1fr;
    grid-template-rows: 60px auto;
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* header-top */

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 2 / -1;
}

.header-top li {
    display: inline-block;
    margin-right: .62em;
}

.header-top li a {
    text-decoration: none;
    padding: .75em 1em;
    color: inherit;
    display: flex;
    gap: 10px;
}

.header_aside {
    padding-right: 2em;
}

/* nav */

.nav {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
}

.nav .logo {
    display: block;
    padding: 1em;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

.nav li {
    margin-bottom: 10px;
}

.nav li a {
    padding-left: 1em;
    font-size: 1.2em;
    text-decoration: none;
    color: inherit;

}

.destaque_linha {
    border-bottom: 2px solid #ccc;
}

.menus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.menus a {
    text-decoration: none;
    color: inherit;
}

/* main */

.main {
    background-color: #ccc;
}

.main-div {
    padding: 1.5em 1.5em .5em 1.5em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 20px;
}

.main-div > * {
    margin: 0;
    grid-column: span 2;
}

.grid-half {
    grid-column: span 1;
}

.main-section_content {
    background-color: white;
    padding: 1.5em;

    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.main-section_aside:not(.btn) {
    display: flex;
    justify-content: space-between;
    flex-basis: 260px;
    border-right: 1px solid #ccc;
    padding-right: 2.5em;
    font-size: 1.2rem;
}

.aside_div_num {
    color: blue;
}

.btn {
    background-color: blue;
    color: white;
    text-decoration: none;
}

.main-section_content ul{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.main-section_content ul li {
    padding-right: 1em;
    border-right: 1px solid #999999;
}

.main-section_content .btn {
    border-right: none;
    padding-right: 0;
}

.main-section_content .btn a {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: .75em 1.5em;
    border-radius: 5px;
}

.main-section_img {
    margin-bottom: 1em;
}

.main-section_imgs {
    max-width: 100%;

    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.main-section_imgs img {
    flex-grow: 1;
}