@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'icomoon';
    src: url(../assets/icomoon-icon/fonts/icomoon.ttf);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    display: block;
    margin: auto;
    padding: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a:hover {
    background-color: rgba(65, 27, 100, 0.668);
}

li a {
    display: block;
    padding: 1.3em;
    background-color: rgb(65, 27, 100);
    color: white;
    text-decoration: none;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        display: inline-block;
        margin-left: 0;
    }

    li a {
        background-color: transparent;
        color: rgb(65, 27, 100);
        display: inline-block;
        font-weight: 600;
    }
}

@media screen and (min-width: 1024px) {
    .header {
        width: 994px;
        margin: auto;
        text-align: center;
    }
}