@charset "utf-8";

:root {
    --primary-color: #ff7833;
    --secondary-color: #31333b;
    --secondary-color-light: #444856;
    --secondary-color-drak: #23252d;

    --default-gap: 3rem;
   
}

html {
    font-size: 62.5%;
}

body{
    background-image: url(../imagens/bg-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    margin: 0;
    color: #e7e7e7;
    min-height: 100vh;
    background-color: #ccc;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.7;
}

a {
    color: inherit;
}

h1 {
    font-size: 4rem;
    color: #a2a2a2;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    margin: 0;
}

h2 {
    margin-top: 1rem;
}

section {
    margin-bottom: 3rem;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

input,
label,
textarea,
select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

input,
textarea,
select {
    background-color: #ccc;
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1.6rem;
    border: none;
}

.underline {
    text-decoration: red wavy underline;
}

.perfil {
    flex: 0 0 26rem;
    background-color: var(--secondary-color);
    background-color: rgba(49, 51, 59, .8);
}

.perfil_img {
    width: 10rem;
}

.topicos {
    position: sticky;
    top: 0;
    left: 0;
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
}

.topicos ul {
    list-style-type: none;
    padding: 0;
}

.topicos li {
    border-bottom: 2px solid #e7e7e7;
    padding: .4rem 0;
}

.topicos ul a {
    text-decoration: none;
    display: block;
    padding: 1.2rem 0;
    transition: padding-right .2s, backgroud-color .4s;
    background-color: transparent;
}

.topicos ul a:hover,
.topicos ul a:focus {
    background-color: var(--secondary-color-light);
    padding-right: 1rem;
}

.perfil,
.conteudo {
    font-size: 1.6rem;
}

.conteudo {
    background-color: var(--secondary-color-light);
    background-color: rgba(68, 72, 86, .6);
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
}

.article_destaque {
    border-left: 1px solid var(--primary-color);
    font-size: 1.1em;
    padding-left: 2em;
    margin-bottom: 2.2em;
}

.card {
    max-width: 740px;
    background-color: var(--secondary-color);
    padding: 0;
}

.card_content {
    padding: .5em 1em 1em;
}

.card_content p,
.card_title {
    margin: 0;
}

.card_title {
    font-size: 1.75em;
    margin-bottom: .25em;
}

.card img {
    max-width: 100%;
}

.row {
    display: flex;
    gap: var(--default-gap);
    padding-top: 1.5rem;
    justify-content: space-between;
}

.row > * {
    flex: 1 0 0%;
}

.row .row {
    padding-top: 0;
}

.alternate {
    list-style-type: none;
    padding-left: 0;
}

.alternate li{
    padding: 0;
}

.alternate li:not(:last-child) {
    border-bottom: 2px solid;
    padding: 0;
}

.roman {
    list-style-type: upper-roman;
}

.list-emoji {
    list-style-type: "\1F642";
}

.btn {
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color-drak);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: .8em 1.2em;
    border-radius: 5px;
}

.btn + .btn {
    margin-left: 2rem;
}

.btn:hover,
.btn:focus {
    background-color: var(--secondary-color-drak);
}

.btn-stroke {
    background-color: transparent;
}

.btn-big {
    font-size: 1.6rem;
}

.btn-full {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.btn-full + .btn-full {
    margin-left: 0;
    margin-top: 2rem;
}

.form-quiz {
    width: calc( 50% - (var(--default-gap) / 2) );
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td:last-child,
.table th:last-child{
    text-align: right;
}

.table td,
.table th{
    padding: 1.6rem;
}

.table:not(.table-zebrada) td {
    border-bottom: 2px solid var(--secondary-color-drak);
}

.table th {
    text-transform: uppercase;
    text-align: left;
}

.table-zebrada tbody tr:nth-child(odd){
    background: var(--secondary-color);
}

.table-vertical td:not(:last-child),
.table-vertical th:not(:last-child) {
    border-right: 1px solid var(--secondary-color-drak);
}

.link-icon{
    text-decoration: none;
    font-style: normal;
    font-size: 2rem;

    display: inline-block;
    margin-right: 3rem;
    transition: color .3s;
}

.link-icon svg {
    width: 4rem;
    height: 4rem;
    fill: currentColor;
    vertical-align: middle;
    display: inline-block;
    margin-right: 1rem;
}

.link-icon:hover,
.link-icon:focus {
    color: var(--primary-color);
}